.person-details {
  display: flex;
  margin-top: 0;
  flex-direction: row;
  padding: 1rem 0 1rem 1rem;
}

.person-details .person-image {
  width: 25%;
  height: 25%;
  border-radius: 5px;
}

.person-details .list-group {
  margin-bottom: 1.5rem;
}

.person-details .list-group-item {
  padding: .25rem;
}

.person-details .list-group-item .term {
  margin-right: .5rem;
}